{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
  <article id="skip-to-content" class="h-entry t-{{ .Type | anchorize }}" role="article">
    <header>
      <hgroup>
        <h1 class="p-name" id="{{ anchorize .Title }}"><a class="u-url" href="{{ .Permalink }}"><cite class="p-read-of">{{ .Params.work.title }}</cite>, by {{ .Params.work.author }}</a></h1>
        {{- with .Params.title_sub -}}<h2>{{ . }}</h2>{{- end -}}
        {{- with .Params.headline -}}<h3>{{ . }}</h3>{{- end -}}
      </hgroup>
      {{ partial "colophon.html" . }}
      {{- with .Params.tags -}}
        <ul aria-label="Tags" class="tags">
          {{- range . -}}
              <li><a rel="tag" aria-label="Posts tagged with “{{ . }}”" href="{{ "tags" | absURL }}/{{ . | urlize }}">#{{ . | anchorize }}</a></li>
            {{- end -}}
          </ul>
      {{- end -}}
      {{- with .Params.Cover -}}
        <figure class="cover-thumbnail">
          <img
            src="{{ with resources.GetRemote .m }}{{ .RelPermalink }}{{ else }}{{ .m }}{{ end }}"
            alt="{{ if .description }}{{ .description }}{{ else }}The cover of {{ $.Title }}{{ end }}">
          {{-  with .caption -}}
            <figcaption>{{ . | markdownify }}</figcaption>
          {{- end -}}
        </figure>
      {{- end -}}
    </header>
    {{ partial "summary-section.html" . }}
    <section class="content e-content" role="region" aria-label="article content">
      {{ .Content }}
    </section>
    <section class="content meta">
      {{ partial "metaline.html" . }}
      {{ partial "relationships.html" . }}
    </section>
  </article>
{{ end }}
