<p class="colophon">
  <span class="p-author h-card">
    <a href="/">{{ partial "author-name.html" .Site.Params.Author }}</a>
    <img class="u-photo" style="display:none;" src="/images/whoami/avatar.jpg" />
  </span>
  {{-  with .Date }}<time class="dt-published" aria-label="Published on" datetime="{{ dateFormat $.Site.Params.iso8601_format . }}">{{ dateFormat "2006-01-02" . }}</time>{{- end -}}
    {{- with .Lastmod }}<time class="dt-updated" datetime="{{ dateFormat $.Site.Params.iso8601_Format . }}">{{ dateFormat "2006-01-02" . }}</time>{{- end -}}
</p>
