<footer class="group credits" role="contentinfo" aria-label="Site-wide footer">
  {{- if not (eq .Type "page" "about") }}
    {{ $pages := where $.Site.RegularPages "Type" "not in" (slice "page" "about") }}
    <nav role="navigation" aria-label="Entry neighbors" class="paginator breadcrumbs">
      <span class="label">Entry Neighbors: </span>
      {{- with $pages.Prev . }}<a accesskey="p" href="{{ .Permalink }}" title="{{ .Title }}" rel="prev"><i class="fa fa-step-backward"></i> Previous entry</a>{{- end }}{{- if and ( $pages.Prev . ) ( $pages.Next .) }}&nbsp;|&nbsp;{{- end }}{{- with $pages.Next . }}<a accesskey="n" href="{{ .Permalink }}" title="{{ .Title }}" rel="next">Next entry <i class="fa fa-step-forward"></i></a>{{- end }}
    </nav>
    {{- end }}
    {{ partial "credits-and-license.html" . }}
</footer>
