<footer class="group credits" role="contentinfo" aria-label="Site-wide footer">
    {{- if eq .Type "post" }}
    <nav role="navigation" aria-label="Post neighbors" class="paginator breadcrumbs">
        <span class="label">Post Neighbors: </span>
        {{- with .PrevInSection }}<a accesskey="p" href="{{ .Permalink }}" title="{{ .Title }}" rel="prev"><i class="fa fa-step-backward"></i> Previous post</a>{{- end }}{{- if and .PrevInSection .NextInSection }}&nbsp;|&nbsp;{{- end }}{{- with .NextInSection }}<a accesskey="n" href="{{ .Permalink }}" title="{{ .Title }}" rel="next">Next post <i class="fa fa-step-forward"></i></a>{{- end }}
    </nav>
    {{- end }}
    {{ partial "credits-and-license.html" . }}
</footer>
