{{- $s := newScratch }}
{{ $s.Set "Data" site.Data.mentions }}
{{ range (split .Path "/" | after 1) }}
  {{ $s.Set "Data" (index ($s.Get "Data") .) -}}
{{ end }}

{{ $all_mentions := index site.Data.mentions (split .Path "/" | after 1 | append "mentions") | default slice }}
{{ $known_keys := slice "like-of" "repost-of" "in-reply-to" "mention-of" }}
{{ $likes := where $all_mentions "wm-property" "like-of" }}
{{ $reposts := where $all_mentions "wm-property" "repost-of" }}
{{ $replies := where $all_mentions "wm-property" "in-reply-to" }}
{{ $mentions := where $all_mentions "wm-property" "mention-of" }}
{{ $rest := where $all_mentions "wm-property" "not in" $known_keys }}

{{ .Store.SetInMap "mentions" "all" $all_mentions }}
{{ .Store.SetInMap "mentions" "likes" $likes }}
{{ .Store.SetInMap "mentions" "reposts" $reposts }}
{{ .Store.SetInMap "mentions" "replies" $replies }}
{{ .Store.SetInMap "mentions" "mentions" $mentions }}
{{ .Store.SetInMap "mentions" "others" $rest -}}
