{{- $all_mentions := index site.Data.mentions.all .RelPermalink | default dict -}}
{{- $known_keys := slice "like-of" "repost-of" "in-reply-to" "mention-of" -}}
{{ $likes := index $all_mentions "like-of" | default slice -}}
{{ $reposts := index $all_mentions "repost-of" | default slice -}}
{{ $replies := index $all_mentions "in-reply-to" | default slice -}}
{{ $mentions := index $all_mentions "mention-of" | default slice -}}

<footer class="metaline">
  <ul class="response-summary">
    <li>{{ $likes | len }} {{ if eq 1 (len $likes) }}like{{ else }}likes{{ end }}</li>
    <li>{{ $reposts | len }} {{ if eq 1 (len $reposts) }}repost{{ else }}reposts{{ end }}</li>
    <li>{{ $replies | len }} {{ if eq 1 (len $replies) }}reply{{ else }}replies{{ end }}</li>
    <li>{{ $mentions | len }} {{ if eq 1 (len $mentions) }}mention{{ else }}mentions{{ end }}</li>
  </ul>
</footer>
{{ if eq "page" page.Kind }}
  <section class="content" id="webmentions">
    {{ with $likes }}
      <h3>Likes</h3>
      <ul class="facepile">
        {{ range . }}
          {{ partial "facepile-entry.html" (dict "mention" . "class" "p-like") }}
        {{ end }}
      </ul>
      <div style="clear:both;"></div>
    {{- end -}}
    {{- with $reposts }}
      <h3>Reposts</h3>
      <ul class=facepile>
        {{ range . }}
          {{ partial "facepile-entry.html" (dict "mention" . "class" "p-repost") }}
        {{ end }}
      </ul>
      <div style="clear:both;"></div>
  {{ end -}}

  {{- with $replies -}}
    <h3>Replies</h3>
    <ul id="replies">
      {{ range . }}
        {{ $time := time "2000-04-01" }}
        {{ with .published }}
          {{ $time = time . }}
        {{ else }}
          {{ $time = time (index . "wm-received") }}
        {{ end }}
        <li class="p-comment h-cite comment">
          {{ with  (index . "author") }}
            {{ partial "author.html" . }}
          {{ end }}
          {{ partial "wm-content.html" . }}
          {{ partial "wm-metaline.html" . }}
        </li>
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end }}
  {{ with $mentions }}
    <h3>Other Mentions</h3>
    <ul id="other-mentions">
      {{ range . }}
        <li class="p-comment h-cite comment">

          {{ with  (index . "author") }}
            {{ partial "author.html" . }}
          {{ end }}
          {{ partial "wm-content.html" . }}
          {{ partial "wm-metaline.html" . }}

        </li>

      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end }}
  </section>
{{ end }}
