
{{ $index := .Scratch.Get "index" }}
{{ partial "init-article-metadata.html" . }}
<article class="h-entry note">
    <header>
        <h2><a accesskey="{{ mod (add 1 $index) 10 }}" href="{{ .RelPermalink }}" id="ctrl+mod+{{ $index }}" rel="bookmark"><cite><span class="date">{{ dateFormat "2006-01-02" .Date }}</span><span class="time">{{ dateFormat "@15:04" .Date }}</span></cite></a></h2>
        {{- if .Params.tags }}
        <ul aria-label="Tags" class="tags">
            {{- range .Params.tags }}
            <li><a rel="tag" aria-label="Posts tagged with “{{ . }}”" href="{{ "tags" | absURL }}/{{ . | urlize }}">#{{ . | anchorize }}</a></li>
            {{- end }}
        </ul>
        {{ end }}
    </header>
    <section class="content e-content" role="region">
        {{- .Content -}}
    </section>
    {{ partial "relationships.html" . }}
    {{ partial "metaline.html" . }}
</article>
