<section class="relationships">
  <a href="https://fed.brid.gy" class="u-url"></a>
  {{- with .Params.syndicate }}
    {{- with $.Params.tweet }}
      <pre class="p-bridgy-twitter-content">{{ . }}</pre>
      <a class="bridgy" href="https://brid.gy/publish/twitter{{ with $.Params.omit_link }}?bridgy_omit_link={{ . }}{{ end }}"></a>
      {{ else }}
      <a href="https://brid.gy/publish/twitter?bridgy_omit_link=maybe"></a>
      {{ end -}}
      {{- with $.Params.syndicated_at }}
        <ul class="syndications">
          {{- range $network, $permalink := . }}
            <li>
              <a rel="syndication" class="u-syndication" href="{{ $permalink }}">
                <i class="fa fa-{{ $network }}"></i>
              </a>
            </li>
          {{ end -}}
        </ul>
      {{ end -}}
  {{- end -}}
  {{- with $.Params.mentions }}
    <ul class="our-mentions">
      {{- range . }}
        <li>
          <a href="{{ .url | safeURL }}" class="u-{{ .type }}">
            {{- with .desc }}
              {{ . }}
            {{ end -}}
          </a>
        </li>
      {{ end -}}
    </ul>
  {{ end -}}
</section>
