{{ $blockOpt := dict "display" "block" }}
<section class="p-summary" role="summary">
  {{ partial "relationships.html" }}
  {{- if isset .Params "headline" }}
    {{ .Params.headline | .Page.RenderString $blockOpt }}
  {{- else if isset .Params "description" }}
    {{ .Params.description | .Page.RenderString $blockOpt }}
  {{- else }}
    {{ if findRE "^ *<p>" .Summary }}
      {{ .Summary | safeHTML }}
    {{ else }}
      {{ .Summary | .Page.RenderString $blockOpt | safeHTML }}
    {{ end }}
  {{- end -}}
</section>
