<section class="content" id="webmentions">
  {{ $mentions := .Scratch.Get "mentions" }}
  {{- if lt 0 (len $mentions.likes) }}
    <h3>Likes</h3>
    {{ $.Scratch.Set "class" "p-like" }}
    <ul class=facepile>
      {{ range $mentions.likes }}
        {{ partial "facepile-entry.html" . }}
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end -}}

  {{- if lt 0 (len $mentions.reposts) }}
    <h3>Reposts</h3>
    {{ $.Scratch.Set "class" "p-repost" }}
    <ul class=facepile>
      {{ range $mentions.reposts }}
        {{ partial "facepile-entry.html" . }}
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end -}}

  {{ if lt 0 (len $mentions.replies) }}
    <h3>Replies</h3>
    <ul id="replies">
      {{ range $mentions.replies }}
        {{ $time := time "2000-04-01" }}
        {{ with .published }}
          {{ $time = time . }}
        {{ else }}
          {{ $time = time (index . "wm-received") }}
        {{ end }}
        <li class="p-comment h-cite comment">
          {{ with .author }}
            {{ partial "author.html" . }}
          {{ end }}
          {{ partial "wm-content.html" . }}
          {{ partial "wm-metaline.html" . }}
        </li>
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end }}
  {{ if lt 0 (len (append $mentions.mentions $mentions.others)) }}
    <h3>Other Mentions</h3>
    <ul id="other-mentions">
      {{ range $mentions.mentions | append $mentions.others }}
        {{ if lt 0 (len (index .author "url")) }}
          <li class="p-comment h-cite comment">
            {{ with .author }}
              {{ partial "author.html" . }}
            {{ end }}
            {{ partial "wm-content.html" . }}
            {{ partial "wm-metaline.html" . }}

          </li>
        {{ end }}
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end }}

</section>
<section class="content" id="webmentions">
  {{ $mentions := .Scratch.Get "mentions" }}
  {{- if lt 0 (len $mentions.likes) }}
    <h3>Likes</h3>
    {{ $.Scratch.Set "class" "p-like" }}
    <ul class=facepile>
      {{ range $mentions.likes }}
        {{ partial "facepile-entry.html" . }}
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end -}}

  {{- if lt 0 (len $mentions.reposts) }}
    <h3>Reposts</h3>
    {{ $.Scratch.Set "class" "p-repost" }}
    <ul class=facepile>
      {{ range $mentions.reposts }}
        {{ partial "facepile-entry.html" . }}
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end -}}

  {{ if lt 0 (len $mentions.replies) }}
    <h3>Replies</h3>
    <ul id="replies">
      {{ range $mentions.replies }}
        {{ $time := time "2000-04-01" }}
        {{ with .published }}
          {{ $time = time . }}
        {{ else }}
          {{ $time = time (index . "wm-received") }}
        {{ end }}
        <li class="p-comment h-cite comment">
          {{ with .author }}
            {{ partial "author.html" . }}
          {{ end }}
          {{ partial "wm-content.html" . }}
          {{ partial "wm-metaline.html" . }}
        </li>
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end }}
  {{ if lt 0 (len (append $mentions.mentions $mentions.others)) }}
    <h3>Other Mentions</h3>
    <ul id="other-mentions">
      {{ range $mentions.mentions | append $mentions.others }}
        {{ if lt 0 (len (index .author "url")) }}
          <li class="p-comment h-cite comment">
            {{ with .author }}
              {{ partial "author.html" . }}
            {{ end }}
            {{ partial "wm-content.html" . }}
            {{ partial "wm-metaline.html" . }}

          </li>
        {{ end }}
      {{ end }}
    </ul>
    <div style="clear:both;"></div>
  {{ end }}
</section>
