{{ $index := .Scratch.Get "index" }}
{{ $blockOpt := dict "display" "block" }}
{{ partial "init-article-metadata.html" . }}
<article class="h-entry">
    <header>
        <h2 class="p-name"><a accesskey="{{ mod (add 1 $index) 10 }}" href="{{ .RelPermalink }}" id="ctrl+mod+{{ $index }}" rel="bookmark"><cite>{{ .Title }}</cite></a></h2>
        {{- if .Params.tags }}
        <ul aria-label="Tags" class="tags">
            {{- range .Params.tags }}
            <li><a rel="tag" aria-label="Posts tagged with “{{ . }}”" href="{{ "tags" | absURL }}/{{ . | urlize }}">#{{ . | anchorize }}</a></li>
            {{- end }}
        </ul>
        {{ end }}
    </header>
    <section class="p-summary" role="summary">
      {{- if isset .Params "headline" }}
      {{ .Params.headline | .Page.RenderString $blockOpt }}
      {{- else if isset .Params "description" }}
      {{ .Params.description | .Page.RenderString $blockOpt }}
      {{- else }}
      {{ if findRE "^ *<p>" .Summary }}
      {{ .Summary }}
      {{ else }}
      {{ .Summary | .Page.RenderString $blockOpt | safeHTML }}
      {{ end }}
      {{- end -}}
    </section>
    {{ partial "metaline.html" . }}
    <footer>
        <p class="colophon">Written by <span class="p-author hcard">{{ .Site.Params.author | safeHTML }}</span> on
            {{ with .Date }}<time class="dt-published" aria-label="Published On" datetime="{{ dateFormat $.Site.Params.iso8601_format . }}">{{ dateFormat "2006-01-02" . }}</time> {{- end }}
        </p>
        <p class='read-more'><a class="u-url u-uid" href="{{ .RelPermalink }}">Read more…</a></p>
    </footer>
</article>
