{{ define "head-title" }}
{{- $paginator := .Paginate (where .Site.RegularPages "Type" "not in" (slice "page" "about")) .Site.Params.pagination_size }}
{{- if eq 1 $paginator.PageNumber }}
    <title>HTA:{{ .Title }}</title>
  {{- else }}
    <title>HTB:{{ .Title }} (page {{ $paginator.PageNumber }})</title>
  {{- end }}
{{ end }}
{{ define "breadcrumb" }}
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "post") .Site.Params.pagination_size }}
  <section class="navbar"><nav role="navigation" aria-label="Blog postings pagination" class="paginator">
    {{- with $paginator }}
      {{- if .HasNext }}<a accesskey="p" href="{{ .Next.URL }}" rel="prev"><i class="fa fa-step-backward"></i> Previous posts</a>{{- end }}{{- if and .HasNext .HasPrev}}&nbsp;|&nbsp;{{- end }}{{- if .HasPrev }}<a accesskey="n" href="{{ .Prev.URL }}" rel="next">Next posts <i class="fa fa-step-forward"></i></a>{{- end }}
      Page {{ .PageNumber }} of {{ .TotalPages }}
    {{- end }}
  </nav>
  </div>
{{ end }}
{{ define "main" }}
  <h1 id="skip-to-content">Activity</h1>
  <section class="articles" aria-labelledby="skip-to-content">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") .Site.Params.pagination_size }}
    {{ range $index, $object := $paginator.Pages }}
      {{ with $object }}
        {{ .Scratch.Set "index" $index }}
        {{ .Render "summary" }}
      {{- end }}
    {{- end }}
  </section>
  <nav aria-hidden="true" class="paginator">
    {{- with $paginator }}
      {{- if .HasNext }}<a href="{{ .Next.URL }}" rel="prev">Previous posts</a>{{- end }}{{- if and .HasNext .HasPrev}}&nbsp;|&nbsp;{{- end }}{{- if .HasPrev }}<a href="{{ .Prev.URL }}" rel="next">Next posts</a>{{- end }}
      Page {{ .PageNumber }} of {{ .TotalPages }}
    {{- end }}
  </nav>
{{ end }}
